[Desktop Entry]
Comment[en_US]=
Comment=
Exec=container-start displaycal
GenericName[en_US]=
GenericName=
Icon=preferences-desktop-display-color
MimeType=
Name[en_US]=Display Calibration
Name=Display Calibration
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
